* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'poppins', sans-serif;
   

}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    position: relative;
}

header {
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem 6%;
    display: flex;
    width: 100%;
    background: transparent;
    filter:drop-shadow(10px);
    justify-content: space-between;
    align-items: center;
    z-index:100;   
}

.logo {
    color: rgb(111,212,255);
    font-size: 3rem;
    font-weight: 800;
    transition: 0.3s ease;
}
.logo:hover {
    transform: scale(1.1);
}

 nav a {
    color: #ffff;
    font-size: 1.6rem;
    margin-left: 3rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
    
 }

nav a.active,
nav a:hover{
    border-bottom: 3px solid rgb(111,212,255);
    color: rgb(111,212,255);
}

section {
    min-height: 100vh;
    width: 100%;
    padding: 5rem 9% 5rem;
}
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.home-img img {
    position: relative;
    width: 30vw;
    border-radius: 20px;
    transition: 0.5s ease;
    cursor: pointer;
    border-image-repeat:repeat;
    
}

.home-img img:hover {
    transform: scale(1.1);
    box-shadow:0 0 4px transparent;
    
}

.content {
    color: #ffff;
    font-size: 1.4rem;
}

.home .content h1 {
    font-size: 6rem;
    font-weight: 800;
    transition: 0.3s ease;
}
.content h1:hover {
    transform: scale(1.1);
    
}
.content h3 {
    font-size: 4rem;
    font-weight: 600;
    
}

 span {
    color: rgb(111,212,255);
}

.typing-text span {
    position: relative;
}

.typing-text span::before{
    content: "Magic Vender";
    color:rgb(111,212,255);
    animation: words 20s infinite;
}
p{
    transition: 0.2s ease;
}
p:hover{
    transform: scale(1.1);
    transition: 0.2s ease;
}

.typing-text span::after{
    content: "";
    background-color: black;
    height: 90px;
    width: calc(100% + 8px);
    left: -8;
    position: absolute;
    border-left: 3px solid rgb(111,212,255);
    animation: cursor 0.9s infinite;
}

@keyframes cursor{
    from{
        transition: 0.2s ease;
        border: none;
    }
   to{ 
        transition: 0.9s ease;
        border-left: 2px solid rgb(111,212,255);
    }
    
}

@keyframes words{
    0%,50%{
        content: "Magic Vender";
    }
    50%, 100%{
        content: "ice princess";
    }
}



@media(max-width: 1000px){
  .home{
    gap: 4rem;
  }
}

@media(max-width: 780px){
  .typing-text span::after{
    height: 60px;
  }
}


@media(max-width: 995px){
     .home{
        flex-direction: column;
        gap: 5rem 4rem;

        overflow: auto;
    }
     .home-img img{
       width: 40vh;
       margin-top: 4rem;
       
       box-sizing: border-box;
    }
     .content h1{
        font-size: 5rem;
    }
     .content h3{
        font-size: 2.5rem;
    }
   
}


@media(max-width: 390px){
    body{
        align-items: center;
        justify-content: center;
        font-size: 16px;

    }
    h1{
        font-size: 1rem;
    }
    h3{
       font-size:1.125rem; 
    }
    .home-img img{
        width: 30vh;
    }
    span{
        font-size: 4rem;
    }

}